<div class="cell cellOne deleteDownload">
    <span class="iconDelete"></span>
</div>

<div class="cell cellInfo viewDownload">
    <label class="titleDownload"><%= title %></label>
    <label class="dateDownload"><%= date %></label>
</div>

<div class="cell cellOne viewDownload">
    <span class="iconArrowRightGrey"></span>
</div>