.downloads {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.downloads .contentDownloads {
    border-top: 2px solid #cacaca;
}

.downloads .contentDownloads .listDownloads .downloadItem {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #e4e4e4;
}

.downloads .contentDownloads .listDownloads .downloadItem .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.downloads .contentDownloads .listDownloads .downloadItem .cellOne {
    width: 60px;
}

.downloads .contentDownloads .listDownloads .downloadItem .cell span {
    display: block;
    width: 40px;
    height: 35px;
    margin: auto;
}

.downloads .contentDownloads .listDownloads .downloadItem .iconDelete {
    padding-right: 20px;
    border-right: 1px solid #9a9a9a;
}

.downloads .contentDownloads .listDownloads .downloadItem .cellInfo {
    padding: 10px 20px;
    text-align: left;
}

.downloads .contentDownloads .listDownloads .downloadItem .cellInfo .titleDownload {
    display: block;
    font-family: Lato-Bold;
    color: #292929;
    font-size: 0.95em;
}

.downloads .contentDownloads .listDownloads .downloadItem .cellInfo .dateDownload {
    display: block;
    font-family: Lato-Light;
    color: #a7a7a7;
    font-size: 0.8em;
    line-height: 23px;
}

.downloads .contentDownloads .listDownloads .downloadEmpty {
    display: block;
    font-family: Lato-Bold;
    color: #6b6b6b;
    font-size: 1em;
    text-align: center;
    padding-top: 60px;
}