<div class="headerC headerDownloads">
    <span id="optMenuLeft" class="optLeftC iconOpenMenu"></span>

    <label class="titleC"><%= strings["DOWNLOADS_TITLE"] %></label>
</div>

<div id="scrollDownloads" class="contentC contentDownloads">
    <ul class="listDownloads">

    </ul>
</div>