<div class="cell cellOne leftAction">
    <span class="favorite iconFavorite"></span>
</div>

<div class="cell cellInfo mainAction">
    <label class="titleLaw"><%= item.title %></label>
</div>

<% if(optRight) { %>
<div class="cell cellOne">
    <span class="iconArrowRightGrey"></span>
</div>
<% } %>