.laws {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.laws .wrapperBack {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #bfbfbf;
}

.laws .wrapperBack span {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
}

.laws .contentLaws {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.laws .contentLawsBack {
    top: 50px;
}

.laws .contentLaws .listLaws .lawItem {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #e4e4e4;
}

.laws .contentLaws .listLaws .lawItem[data-favorite="false"] .iconFavorite {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYOCw05U/EqFQAAD95JREFUeNrtXX10HNV1 /93ZlQxIQJB9wIFKJhSfAjlYNpg4scEYMDbGDootmx5btTRvhN02aSgnpVAIB2fTfJyklDQB 8oHQvLGNwoktYy82GPAHBEhpwATkNA1NQ0rkY5MCXhJsQ1hWc/vHjnLkp5nVSlqtZmfe7y/7 6e2bN3N/7977vu4FNDQ0NDQ04odUKkUdHR1Vcf4GRpxfvqGhYXYikZivCRBfNBPRck2AmIKZ lzFzk5QyqQkQM0gpZxLRFCKaCOByTYD4YaDqb9YEiKH9H/Dvpel02tAEiAkcx5kG4NwBRZMP Hz48RxMgPs7fIM+fiJo1AeKp/vuxLJVKkSZA9L3/8wBc4POn+ilTplyiCRAv739I06AJEA/1 H9vpYKwI4DjOOQCmF6hyjpRyuiZAjLz/uGuBuJmAZk2AmBLAtu16AKqX/2tmfkkpO99xnAs0 ASIGIloGQJ3nbyGiLT6molkTIB7Tv25m7o4zAWKx8iWlnAzg4EDCM/NvLcs62/v7fgAXKhrj XNM0X9MaIBpYqr4rET080BSMcMagCVDB6n9LIQLEZTYQeQLYtj2JmdUTP4d6e3v/vf8/Qoj/ BPArpc4ljuM0aAJUvvffREQJpXjrunXruIBG6DcDyzQBIqj+mXnLECYhNmYg0gSwbfsjAK5S it+qra19Rq0rhHgJwOtK8ezOzs6PagJUrvr/NAD15s+266+/vi/gJ6oWMAzDWKoJEF3vvxjT 0KwJUIFwHKcWwAKl+J1cLrc36DcHDhz4D2Y+qJDictu2J2kCVBiYeTGAE5TiR9asWfNh0G/W rVvHRLRVMSMJIvqMJkDloblIFR/r2UAkCdDZ2XkiM1+rFB+pqqp6cqjf1tTUPAvgLaX4Km9G oQlQId7/NURUoxQ/unr16g+G+q03Q9imFFd5MwpNgAohgJ/K7h5GE7E5IxA5AnR1dVUDUEfr e4lEYmexbXgzhXcUUi30ZhaaAGFGNpu9GsApSvHjra2t7xXbhjdTeEQpPsGbWWgCVJr3jwKL PwWmkbGYDUSKAF6kjyZFkB+4rrt9uG15M4YjSlvXdnZ2nqgJEFIw8xUA6hTbvau9vf3IcNvy ZgyPKm3VENE1mgCV5f1vGUWTW4p8hibAeCOdThvMrC7ZfsjM6VE0uxPAe4qWWeLNNDQBwoRM JnMZEZ2hFD9lWdY7I21TCHEMwOOKBjg1m83O1wSIqPdfZBvNmgAhQiqVIvX8HjP3GYaxbbRt JxKJHQCyStuRiS0YCQLU19d/kojOUlT1s21tbW+Otu3W1tZ3mXmX0vZEAPM0AaLr/avtR9YM JB3HOYeZK/38uyoMNgzj4ZKNEsNIu66bA5AcYAaWSil/VOED5xA5jlPLzPcAMCPkED4vhJhd ygallLsARCmy+GZmXps0TfMoACGlfBzA9wFE4eBD9xi1WfEEYOZjRHSjEMI+zgcQQvyIiBoB PBcBAjxc6gaJaBsAt8K/yz4AM/qFP8gJNE2zt6amZh6AOwHkKpThLwkhXi91u6Zp/l8FDw4X wDdyudxsy7L+5zgnUK3pHYn6Z9u2dxNRF4CPFWj4IQD7Q+bYvDiG5LqDiMIWU/g8AG0F+nwQ wGrLsp7y/V6FWt6wYcMpfX193wXQEtD4B0R0qxDi29AoO6SUfw3gbgAnBVTZahjGDW1tbZnA AVPkg/4KwH0YfNKmHzuJSHhqUmOM4TjORGZ+AEDQfYX3ANwkhOgYUmMW+1Dbtj/mmYRPBVR5 k5lNy7J2ahGN6ai/EsBGAGcGVHkZwEohxH8XZTKH+fAkgDuZ+XafO/cAwADuSSaTtxRzBFuj eHR0dFQlk8mvALgZ/iu4DODu6urq21taWrJF+0wjZOGlALoABK0g7gewSgjxCy260cO27alE 9EMAMwOqvMHMbZZl7Rpu2yPaCxBCPMfMjQCClkKnAXhRSvlZLb5Rq/x2T60HCX87M08bifBH rAGUDpoA7gFQW6CDlmVZb2txDmvUn0ZE9yM4vP37AG4WQnx3VNPmErH0XAA/xOBQrKNWUTEd 9Zd7jl59kIklopWmaf7XqNdNSuykfBnALQWclG9VV1ffNhwnJWaCTwJIAfinAt/wO8lk8tZS Odk0Bi8xz2PvnxWYpqwSQryqRX7c3P7PXdftIqJZ5Zxml/xAiBDiacMwGhG8ITMDwEtSyrVa 7H8aNK3M/HIB4T9mGMaFY7HGQmP8YmsA/BtGsVQZ8VF/KjN/D8BKv797S+23CCG+M1Z9oDKw +y88B/GigJc8SEStQoi9MRv1cwA8CODsgO/yCwArLcv6+Vj2oyzRwru6uqqz2exXAfxDwDNd AHflcrk7CsXwiQI2bdqUOHbs2J3M/MWA1VQgv+9ysxDij2PdHyoz6+cD2AAgKPjiPmZepe5Z R2jUn438CmrQcbW3mLndsqzt5epTWU8FCyF2M/M0DL5734+ZAF6WUloRFP5KZn6lgPCfBDCt nMIvuwZQPsjfAvhXAEHXrTcz81rLsn5fyYLv7Ow82TCM+wCsDqiSBXBbb2/vt3wCWEeXAJ4X fAEzP4T83oEfegGsFkI8U6Gj/pOeyj8noMqryG/dvjJefRz3lDEbN26ckMvlvgHgxgIO4tcB fEkIURHnFNPptJHJZG4HsA4+x+48/CCRSHxhOKFrIkmAfti2vYiIHACnB0yLfmoYxirTNH8T ZuHbtl1PRA8CmBvwHoeJ6AYhxLYw9DdUSaPWr19/uuu6DoBFAVWOAPicEGJjSFX+CgA/AHBa QJW9hmGsbmtrOxSWPocua1gqlaKGhobPM/M3iWhCQLXLhBDPhUz405Hf5/DDhwDuqKuru6up qSlUdwtCmzbOtu0LATxERB9XVOgfJkyYcHrYdhTT6bRx+PDhQz5BKn4FoEUIsS+M3zm0t4Mt y/o5EX11EGOJ0mHcTm5qanKVVHT9+JewCj/UBPBGu1/E7+4Q93ezT3Gor5GHlgBSyhoiUiN+ v1tMxO/xgpeLyC/S+GmaAMPHtRi8Srg9zMfNvWt1W5XiKiJq0gQYPnyTPSPkCEhGvVwTYBjw Ej4s9lkDeDzsBCCip5j5sFJ2teM4p2oCFNspw1jkl/ChHPvjo4UQIufFEhiIama+ThOgeKyo RPU/RF9XaAIU5/2fAGCxYkOPua77WKVIP5fL7YGScIKZF3R2dp6sCTA0FgI4WbGhj7W3t79f KQTwjrWllXeYYBjGpzUBoq/+K8oMhIoAAfl+3ocSt79UcByndqy88+rq6l3M/Ael+Jqw5R0K FQGy2ewCDI5CstOL2l1q4V/EzD9zXbfHtu1Plbr9lpaWLBGFPu9Q2EzAmKv/VCpFUsovMPPz AKYS0RQiekZK+cV0Ol3q7+G3KLRCEyBY/atz5T8S0fYSjvoz6uvrdyJ/GHVg0ockgK9kMpnd juOcVarnJZPJJwC8qziDizZs2HCSJsBg9T8fSpRSZn7Ci2RaiunlQtd1e4hoYYFqV7iu2yOl LMmijbdvsUMpPqmvr2+xJsBgDFovJ6LuUmgWKeVdyEcyO2Oo+l4o+LSU8l5vTWJUCNi+Xq4J cPzo9E33lkgkHhlNu7ZtT81ms88j+EpaL4CgW0ifA/CClPLjo+kDEe0EcFR5t8VhST8XFg1w FXzSvbW2tr47ClKZRPQzBFxKBdDNzI1EdBGA9QF1LkQ+1tHfjLQf3v7FoPRzhmEsCsOHD0va k5Jt/XrRTb+PgCvXyAdR/HshxAMDykwp5RPIR0tXp6EnAvielHKBd29vJEmougH8pc87Pxx7 DeCpfzXiZXYk6d6klLP6+vpeQfB9+x4AFyvC7x+pDzHzdGb+aUDzS4moR0o5d7j9SiQSj0FJ PwdgSSl8jCiYgHkAJille4ZzJzCdThtSytuQj+YdFNz621VVVbMKhaaxLOt/iehS5G8i+R3f rmfmvVLK1KZNmxLF9s+7/aNuZp2M/L5H7AkwKvW/fv36MzOZzC4AXwswaW8BWCKEuKmY42RC iJwQ4nYAVwM45OPUJQDcefTo0R87jjOcVDubwzgbGFcCeKNoqVKcKzbdm5Ryieu6PQCuDKiy 23XdRiHEsPcShBB7vWCY2wO8+znM3COlLFaIjyK/rzEQ1413FtJxJcDRo0fnYvBdwL1DxQza uHHjBCnlPZ5wJvlU+RDArb29vQva29vfGGn/LMt6WwhxHYDPA/A7jfQRAJullB1Dre75ZSEF cIq3/xFPAhDR8iJV5cC5/fm5XO4FAH8X4Oi9xsxzhBDfLNV9eyHEvV4Er18GVLmhr69vn+M4 0yrNDIwbAbyNl2Wq+ieirQVU/loi2ofgeAIPMvMMy7JKnjXENM39ruteDOD+gCrnu677gpTy xqA2XNfd4aNJmjo6OqrGbRCO4/RvLoAfK6N3j2VZ831G/WkAOgqkbj8C4LNCiAfL1PdmAB0I vgW8g5mFX3xkKWUayqYXM187XnkWxtME+K39b/b5YJcS0SsFhP8iEc0ol/A9k7DFcxCfDaiy xFszuLIYMxBgCqNLgFQqRVDuzHnJnrcOnCFIKdcx89Pwz0vAyGfCmmOa5mvlfgfLsg7U1NRc AeBLzNznU+VMALuklF8fmGja299QL7d+ZrySUY+LCfCCJKr3+58WQlzhqfx6Lz3NZQFNvAGg VQixOwTrGEMm0FCjm9i2vYOI1C3hhUKIJ2OhAeB/8mdzv30lop4g4TPzo8zcGBbheyahP4FG d8BsZxYzvyylXBVk6jBOB0bLrgG8CCC/xfGx8F0imsrMtwJYGyD4MY+bWyJtMFR85A1e/sHX AAz0/t+uqamZ7F0wja4GaGhomIXBiRB+x8zbg4QP4FUimhV24XvaoIOZZyI4oWYrEe0BcFAp n3Ts2LF5cTABKwIcpgsC6j+QSCQuFkL0oEJgWdYvk8nkJ5BPpeOHqfAPEl12M1B2E2Db9utE NKWIqr8HsEYIUYmXQgaahCUAJPyXrFW8WVdX99FyBpIyyiz8S4oRPjP/hIgaK134nknYYRhG IzPvKaL66ZlMZm45+1dWAhDRiiEE3wfgy7W1tZebptmLiKCtre3QxIkTFwC4DUNnZS+rGSh3 uPjfIPjAxgFmbrEs61lEGI7jfMKLjxwUP/h3dXV1Z5XLDBhlFP7FQcJn5i3M3Bh14QOAaZov JBKJGchnUfHD5Ewmc2m5+lPO5Ue/9e73AdxkWdb9iBG8084t3kHU+zA46eZyAM9ESgP4EGA/ Ec0UQsRK+IqDuAH5LGr7FI24zNsviQYBvDi65w4ouhfArFJkvowACX6dy+VmA7gL+Q0uENFZ DQ0Ns6NkAvpH/9teHuHt0PgTvIgi/yil3IX8JZXJ3jf7SVRMwArkQ6U3auEX1AZPekk3dwJo LocZGHMCSCnPA+DU1dVdHaY4+SFeM3izt7d3MYC7Gxoaplf8C5XLmYki9LfT0NDQ0BhD/D/v kUrQ+wo3zQAAAABJRU5ErkJggg== ') center no-repeat;
    background-size: 24px;
}

.laws .contentLaws .listLaws .lawItem[data-favorite="true"] .iconFavorite {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYOCw8O2XrtmAAACKRJREFUeNrtnXuMnkUV xn/TQmlpgSpQSFOYitAIIr1QobctSGFpaXd72W00aMXRaAzEoDEQJVESjVHTagSDGBUHLJBo Uky8VUGCxhsWUasBqrboBGItNERtEelt/GOmsXxlt9/lvc95/mm6+73zvt+c533OObNnzoBA IBAIBAJBgvDO9Kf8/VXixj8ReAI4V2l7MMU5GJO4ACwHpgN9qU5A6gQYjv8OiQtIT/4nAM8D E4G/A9OUtl4UIB0si8YHmArMFxeQFta2/H9ICJCO/I8HVrT8eI0QIB0sBSa1/Gy6d+ZiIUBa 0T+pu4HkCOCdOQEYEAKkqwD9wMkj/G6Gd+ZCIUBa0X/SKpAUAbwz44DBLuMDIUADcBVwyjE+ c6F3ZoYQIK3oP1k3kAwBvDPHAyuFAOkqwBLgNW1+9mLvzHQhQFrRfyvWCAGaI//HdSD/SbmB VBTgCuDUDq+Z752ZKgRIK/o/EioFN9B4AnhnxgKru7x8SAhQf1wOnNbltX3emdOFAGlF/0di LLBKCJCm/CfhBpquAIuBKb1mEN6ZyUKAdKL/VhzPsf+CKASooPyPyTCNGxIC1A+LgDMzGqvf OzNJCJBO9N+KVysjFwJUWP7zWMUbEgLUBwsJ272yxLK4n1AIkEj034qJhA0lQoAayH9ecj0k BKg+5gHTchp7RawsFgIkEv234hTgSiFAmvLfSDfQNAW4BDg753usjCVmQoBEov9WnEqoMRAC JEqARrmBxjSJ8s7MBR4r6Ha7gKlK20OiAGlE/604g7DaKC4gQflvlBtohAvwzswBHi/4ts8A uu69BcfI2981zgLeXHsF8M5cS/03QCwGyijf3gpsr/G8PaCihL4buI2jW6cJmokXgRuVtnep I/zo64GNJNoyNSFsAd6utN3+ihhAabuD0Db9VuCAzFPjcBD4JLDwsPFHzAK8M5cA9wLnybw1 An8F1iltf9FWFqC03QLMBr4qc1d7bARmvZrx21oH8M6sBL5G9xssBeXgn8D7lbbfHDUNbGck 78yZwNcJPfYF1cdPgHcqbZ855jpAJ6N6Z24A1gMTZI4rif3Ax4D17f6hquOlYO/MG4D7gDky 35XCtpje/baTizpeClbabiMUXn4GOCTzXgncCczp1PhdKUCLGvTFKFOLDUrBc8B7lLbf63aA nv4YpLT9GXBRXDMQFIsfABf1YvyeFaBFDd4KfBmYLLbJFS8BNylt78hisEzrAbwzZwH3AG8R O+WC3wPXKm2fymrATOsBYt65BLgJ2Cf2yu7diun3pVkaP3MFaFGDmTFdfKPYryc8S1jUeSSP wXOrCFLabgXmEuoMvNixK3wrBnqP5GanQvTLmauAu8l+z35TsQf4gNL2nrxvVFhRqHfmtcBX SPik7jbxK+AdStuni7hZ4VXB3hkT3cJJYutX4AChYONTStuDRd20lLJw78w5hBXEBWJ3AHbE t/7Rom9cSll4lLfFwMeR8jNLKNh4tBRblJ7gplt+9gLwPqXtpjIfovSNIYmWnz0c07tNpc9/ lWbFOzNIKD9rao/+fcAtwOersqWscnsDvTNnEMrPrmmY8Z8krONvrdJDVXZzqHfmemADzSg/ +yJws9L2v1V7sErvDvbOrAK+XXPjP6W0vaCqD1f13cHzGvD2n1/lw6irToCmLBsPCwE6l/9Z wLlCgHQVYJjmYHZc/hYCdIC1NAvDQoD25f9NwIyGEWCtECBN+T+Mud4ZLQRIlwCV/F6VI4B3 5nzgAiFAugrQ1Lcf4FLvzDQhQLoEKOI8g/oSwDtzHmGvYZOxVgiQ5tt/GAu8M1OFAOkSII9D LetPAO/M60in68iwECDNt/8w+rwzU4QA5RPg18DtFL93Mcuj7etPAO/M2YQTv4rCIUKPo0VK 2xuBq4GdKWYDVVGAInPjnUC/0vajStsDAErbh2L6+d0Cn+My78xpQoBi5f/7hHr8h48KzbXd rbQdBG4gtGHJG2OB1ckTIObEebeo3wd8CBhQ2u4eNUfT9kuEk0D+mELgWwUFGCLf6uQ/A/OU tl9odzOG0vaJSILbc/7uV8Rt80kTIM+34G5CA8XfdXqh0vblGCBeQ+jHlweOA1YmS4C4C2hR DkP/m9A21ShtX+xlIKXt5hggbm5iNlC2AqzJ4Rm2ALOVtvdnNaDSdhewHPgg8HLGz7vEOzM5 VQJkKf8e+GzM7TNvr6K09Urb2+J6xZMZDj0OGEyOAN6Z04HLMhruH8DVStuPKG335/ncSts/ ELqf3dmEbKBMBVgdc+FesTnm9g8V9eBK25eUttfHAG53BkP2e2dOSo0AvbJ+H/BhYLnS9vky voDS9jsxQPxxj0OdAAwkQ4CY+/bST/gvwHylbemNFpS2O4F+em+PO5ySAqyKOXA3+AZdHo6Q Iwm80nYDYUXzT10Os8w7MykVAnTD9j2EVmrXKW33UkFEUs4htLnpFONjqtlsAsScd0mHlz0W c/v7qDiUtv9R2r6XsMT9QtXdQBkKMBhz33Zz+/WE4053UCMobR8AZhKOcOvEDZzYdAK0y/Jd wFKl7c155/Y5kuDZqHa30F5DzIkUfDZjoQSIuW5/Gx/9UcztH6TmUNoeUtp+GlhIaAlbKTdQ tAIMxJx3JOyP6dQype1zNAixIeYswpE6o2GFd2Z8UwkwGru3AwuUthuq0kQxBxLsVdq+C3gb 8K8RPjYJWNo4AnhnJo7yxe6Nuf1vSADxQOeZwM/LdgNFKsByjm76uJdwHs46pe0eEoLS1gGX A7cCrecDDHhnxjWNAK2sfjzm9htJFErbg0rbTxBa5//tiF+d3GawXA8CeGcm8P/evx74HGEt fzsClLa/jC7h/qLdQFGHRq0BNhFq665T2v5QzD7iXK0D7ohuYUreayBFuYBh4MGY24vxR1eD jTFd3AZcWXsX4J0ZC/yUsKq3S0zcFgmeBvoIlU4CgUAgEAgEmeN/YgEn2IYe/XYAAAAASUVO RK5CYII= ') center no-repeat;
    background-size: 24px;
}

.laws .contentLaws .listLaws .lawItem .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.laws .contentLaws .listLaws .lawItem .cellOne {
    width: 60px;
}

.laws .contentLaws .listLaws .lawItem .cell span {
    display: block;
    width: 40px;
    height: 35px;
    margin: auto;
}

.laws .contentLaws .listLaws .lawItem .iconDelete {
    padding-right: 20px;
    border-right: 1px solid #9a9a9a;
}

.laws .contentLaws .listLaws .lawItem .cellInfo {
    padding: 20px;
    text-align: left;
}

.laws .contentLaws .listLaws .lawItem .cellInfo .titleLaw {
    display: block;
    font-family: Lato-Bold;
    color: #292929;
    font-size: 0.95em;
}

.laws .contentLaws .listLaws .lawsEmpty {
    display: block;
    font-family: Lato-Bold;
    color: #6b6b6b;
    font-size: 1em;
    text-align: center;
    padding-top: 60px;
}