<% if(showBack) { %>
    <div class="wrapperBack">
        <span id="back" class="optLeftC iconBackBlack"></span>
    </div>
<% } %>

<div id="scrollLaws" class="<%= (showBack) ? 'contentLaws contentLawsBack' : 'contentLaws' %>">
    <ul class="listLaws">

    </ul>
</div>
