.layoutHome {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/************************************* HEADER ****************************************/
.layoutHome .headerHome {
    height: 134px;
}

.layoutHome .headerHome .tabs {
    position: absolute;
    display: table;
    table-layout: fixed;
    top: 110px;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e4e4e4;
    border-top: 2px solid #cacaca;
}

.layoutHome .headerHome .tabs .cellTab {
    display: table-cell;
    font-size: 1em;
    font-family: Lato-Bold;
    text-align: center;
    transition-property: background-color .12s ease-in-out 0s;
    -moz-transition: background-color .12s ease-in-out 0s;
    -webkit-transition: background-color .12s ease-in-out 0s;
    -o-transition: background-color .12s ease-in-out 0s;
}

.layoutHome .headerHome .tabs .cellTab:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.layoutHome .headerHome .tabs .cellTab label {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #b5b5b5;
    font-size: 0.9em;
    font-family: Lato-Bold;
}

.layoutHome .headerHome .tabs .cellTab.selected label {
    color: #000000;
}

.layoutHome .headerHome .tabs .cellTab .mark {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #cacaca;
}

.layoutHome .headerHome .tabs .cellTab.selected .mark {
    background-color: #000000;
}

/************************************* CONTENT ****************************************/
.layoutHome .contentHome {
    position: absolute;
    top: 154px;
    bottom: 70px;
    width: 100%;
}

/************************************* TABBAR ****************************************/
.layoutHome .contentTabBar {
    position: absolute;
    height: 70px;
    bottom: 0px;
    width: 100%;
    background-color: #8B2237;
    display: table;
}

.layoutHome .contentTabBar .wrapperTabBar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.layoutHome .contentTabBar .wrapperTabBar .titleTabBar {
    display: inline-block;
    color: whitesmoke;
    font-family: Lato-Regular;
    font-size: 1em;
}

.layoutHome .contentTabBar .wrapperTabBar .titleTabBar {
    display: inline-block;
    color: #bdbdbd;
    font-family: Lato-Regular;
    font-size: 1em;
    vertical-align: middle;
}

.layoutHome .contentTabBar .wrapperTabBar .iconNewsWhite {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.layoutHome .contentTabBar .wrapperTabBar .numNews {
    display: inline-block;
    position: relative;
    left: -18px;
    top: -16px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: #ffffff;
    color: #8B2237;
    line-height: 30px;
    font-size: 0.75em;
    text-align: center;
    font-family: Lato-Bold;
}

.layoutHome .contentTabBar .wrapperTabBar .iconArrowRight {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
