<div class="headerC headerHome">
    <span id="optMenuLeft" class="optLeftC iconOpenMenu"></span>

    <span id="optSearch" class="optRightC iconSearch"></span>

    <div class="tabs">
        <div id="tabMainLaw" class="cellTab selected">
            <label class="titleTab"><%= strings["HOME_MAIN_LAWS"] %></label>
            <span class="mark"></span>
        </div>
        <div id="tabBasicLaw" class="cellTab">
            <label class="titleTab"><%= strings["HOME_BASIC_LAW"] %></label>
            <span class="mark"></span>
        </div>
        <div id="tabFavorites" class="cellTab">
            <label class="titleTab"><%= strings["HOME_FAVORITES"] %></label>
            <span class="mark"></span>
        </div>
    </div>
</div>

<div class="contentHome">

</div>

<div class="contentTabBar">
    <div class="wrapperTabBar">
        <label class="titleTabBar"><%= strings["HOME_CONSULT_NEWS"] %></label>
        <span class="iconNewsWhite"></span>
        <label class="numNews">+2</label>
        <span class="iconArrowRight"></span>
    </div>
</div>