<div class="wrapper_listInfinite">
    <div class="scroller">
        <ul>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
            <li class="listItemInfinite"></li>
        </ul>
    </div>
    <div class="scrollbar">
        <div class="wrapperScrollbar"></div>
    </div>
</div>