.listInfinite {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.listInfinite .wrapper_listInfinite {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.listInfinite .wrapper_listInfinite .scrollbar {
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    right: 0px;
}

.listInfinite .wrapper_listInfinite .scrollbar .iScrollVerticalScrollbar .iScrollIndicator {
    background-color: #B3B3B3 !important;
}

.listInfinite .wrapper_listInfinite .scrollbar .wrapperScrollbar {
    display: block;
    width: 100%;
}

.listInfinite .wrapper_listInfinite .scroller {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    left: 0;
}

.listInfinite .wrapper_listInfinite .scroller  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.listInfinite .wrapper_listInfinite .scroller  ul .listItemInfinite {
    position: absolute;
    width: 100%;
}

