/* Hybreed Mobile glogal Stylesheet
 *
 * This file is part of the Hybreed package.
 * @license Hybreed Copyright (c) 2010-2013, Aplicaciones y Tratamientos de Sistemas S.A. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * Hybreed general considerations
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit;*/
    vertical-align: baseline;
}

/* Body tweaks */
body {
    -webkit-font-smoothing: antialiased;
    /* On mobile devices, the text-size-adjust CSS property allows Web authors to control if and how the text-inflating
     * algorithm is applied to the textual content of the element it is applied to.
     * not working in Opera
     */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    /* The text-rendering CSS property provides information to the rendering engine about what to optimize for
     * when rendering text. The browser makes trade-offs among speed, legibility, and geometric precision. The
     * text-rendering property is an SVG property that is not defined in any CSS standard. However, Gecko and WebKit
     * browsers let you apply this property to HTML and XML content on Windows, Mac OS X and Linux.
     */
    text-rendering: optimizeSpeed;
    /* makes border and padding grow inward from width & height mix-and-match units for various box model properties
     * ex. width: 25%; padding: 15px;
     * not working in IE7
     */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* remove UA-default "touched" treatment for <a> and JS mouse events
     * enable on elements in a curated fashion with any color value
     * remember to add your own treatments if you use this
     * you should be using touch events on supporting UAs anyway
     * only works in iOS as of this writing
     */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-user-select: none;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
    user-select: auto;
    cursor: default;
}

/* Remove decorations on WebViews */
a, a:hover {
    text-decoration: none;
}




/* Spinner */
.wrapper_spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

.spinner {
    margin: auto;
    position: absolute;
}

.spinner.borderRounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100px;
    height: 100px;
}

.spinner.borderRounded .innerTextSpinner {
    padding-top: 15px;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-family: roboto;
    right: 5px;
    left: 5px
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* END Spinner */

/* Progress Bar */

/* Progress Bar */

.wrapper_progressbar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}

.progressbar {
    margin: auto;
    position: absolute;

    width: 100%;
    height: 15px;
    background-color: #eee;
    padding: 2px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}

.progressbar.borderRounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 200px;
    height: 100px;
}

.progressbar.borderRounded .innerText {
    padding-top: 15px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: roboto;
    right: 5px;
    left: 5px
}

/*CANCEL BUTTON 1 */
.progressbar.borderRounded.cancelAction1 {
    height: 150px;
}

.progressbar.borderRounded.cancelAction1 .cancelButton {
    text-align: center;
    margin: 15px;
    padding: 10px 5px;
    color: #fff;
    background-color: rgb(121, 121, 121);
    border-radius: 7px;
    font-weight: bold;
    font-family: roboto;
}

.progressbar.borderRounded .cancelButton:active {
    opacity: 0.5;
}

.progressbar.borderRounded.cancelAction1 .textBottom {
    display: table;
    height: 67px;
    width: 100%;
}

.progressbar.borderRounded.cancelAction1 .textBottom label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-family: roboto;
}

/*CANCEL BUTTON 2*/
.progressbar.borderRounded.cancelAction2 #progress {
    width: 80% !important;
    display: inline-block !important;
    margin-left: 5px;
}

.progressbar.borderRounded.cancelAction2 .cancelButton {
    display: inline-block;
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 5px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAACNvAAAjbwE1/Af7AAAAB3RJTUUH3goUCTMpyCPJRQAAB2BJREFUeNrt3T9rnecZ BvDrMaVQg4yG2kiQJUuCTEBTyOCl7hfokk+gQiFTtsSFmE7CXrJk6xcoSHQpdG6WGuR+gAwZ FAgBGYdg4Uwxte4OekWTENB/6Tzv8/uB8Xp0P/d1nfccHb0nAQAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARdGM4P+q6m6S95KsTv9uJXme ZC/J10k+b619Z1ILfYa3k9xP8sZ0hneSvJzOcC/J09baFybF0cKsV9VnVbVbx3tdVf+uqo+q atn0FuYMl6czeTKd0XF2pzNfN71xl2atqrar6qDO5kVVfVJVS6Z5bWe4NJ3BizOe4cG0A2um OdbiPDzhM8VJ7FXVPVO98jO8N83+IryuqoemOv+luVlVW3XxfqiqDRO+snPcmGZ+0baq6qYJ zzf8O3W5Nk360s9x85LPcEcJzHNxtupqPDLtSzvDR1d0hlumPb/X/FdJCfQb/iPeE5jJ4qxd 4Bt+SmCM8B+9Mei3AzNYnu26Pkqgz/Af2XYCfS/P+jl+z68Exg7/0ecEZv1hoRsz36E/5vo/ 7vxACZwt/EkeXPPDaNMO0ekS7dbiUAL9PPP/5GPDTqTPJbpbi0cJ9BX+I3e9BOjPewv4mLwc WPzL/l52SQEcY3VBH5cS6Cv8i7xLCqDTQ1MC/YRfAXTq1oI/PiXQR/h72CUF8Aued/AYhy6B TsLfyy4pgJ/Z6+RxDlkCHYW/p11SAD/yTUePdagS6Cz8ve3SqbQZL9ntJM86K7nHrbU/C/9C OUiy0lr71hVAT812eGA7nT3sWV8JdBj+JNmZa/jn/hIgSf7R4WOeZQl0Gv5ed8hLgGnplpN8 laTHW3jP5uVAx+HfT/Jma23fFUCfLwP2k3za6cOfxZVAx+FPkk/nHP7ZXwFMC7iU5MskK53+ CN1eCXQe/mdJ3mqtfT/nfMz9PYBMB/h+kleuBIT/hF4leX/u4R+iAKYSeJLkg45/hK5KoPPw J8kH084ws5cDm9W3Rz2Ev/MZ+26HmZfAIyVgtm7YogQsqpkKvxKwsGYp/ErA4pohSsACmx1K wCKbGUrAQpsVSsBimxFKYPQFNxuUwKCLbiYogUEX3ixQAoMuvhmgBAYNgPDDoEEQfhg0EMIP gwZD+GHQgAg/DFoCwg+DloDwj6sZwflKIH3f/PLx9H/XP8Pcv09RASgBhF8BKAGEXwEoAYRf ASgB4UcBKAHhRwEoAeFHASgB4UcBKAHhRwEoAeFHASgB4UcBKAHhRwEoAeFHASgB4UcBKAHh VwAoAeFXACgB4VcAKAHhh6ssgRqP23jBoCUg/DBoCQg/DFoCwg+DloDww6AlIPwwaAkI/wK7 YQQAnv1dBYDwKwEQfiUAwq8EQPiVAAi/Epgbfw68AOGPPwdGAQi/EkABCL8SQAEIvxJAAQi/ EkABCL8SQAEIvxJAAQi/EkABCL8SQAEIvxJAAQi/EkABCL8SQAEIvxJAAQi/EkABCL8SQAEI vxJAAQi/EkABCH+Sx9P/D5TAmH5lBOOG/yg4VdVzCTyoqigBrjT8c7sf3xx/JhD+UwRFCcCg 4VcCIBhKAARCCcDwQVACCP/gATADhH/wxTcLhH/whTcThH/wRTcbhH/wBTcjhH/wxTYrhH/w hTYzhH/wRTY7hH/wBTZDhH/wxTVLhH/whTVThH/wRTVbFj38mxZUCRxjU1LmGf4N4VcCJ7Qx Si7aIOG/l+RfSX7d6Y/Q3Z1vq++bpr5K8vvW2hMF0H/4l5J8mWRF+JXAKTxL8lZr7fs55+PG ABcAHwr/NT27HD72x50+/JVpd1wBdPzsv5zkqyTLwu9K4Az2k7zZWtt3BdCnPwm/K4FzWJ52 yEuATv1B+JXAgDvkJUBV3c7hGzk3hN/LgXM4SLLSWvvWFUBf7gu/K4ELysh9LwH684bwK4EB d0kBTFaFXwkMtksK4EfuCL8SGGiXFMDPvBR+JTDILimAX7An/EpggF1SAJ0dmvD3VwIKoENP hV8JzHiXOE5V7fp7/i7PbZHuJ7A751nP/aPA//TM70pgJjvEGZ5J1qvqwDO/K4EzOqiqdSfR 9xJtC78SOKNtJ9D/Aq1V1WvhVwKn9Lqq1kx/Hgv0UPiVwCk9NPV5LdCW8CuBE9oy7fktz82q 2nFP+e7P8bK/22Gnqm6a9DyX5zdV9bdLWJofRrqX/AKc48Y08wt/5hf+MRbo46r67wUtzd70 vQNc7Rnem2Z/UW/4ec0/2AK9XVV/P8fSvKiqT6bvHeB6znCpqv5SVS/P8Xv+be/2j71E71bV X6vq6xM+Uzypqo+mW46zGGf42+k3Pf854Qe/dqvqMx/yGeSrwU6xSO8keTeHd4BZTXIryfMc /jXYN0k+n+vNIWd0hneS/C6Ht/FazeHNPF5OZ7iX5Glr7QuTAgAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACARfM/ZxUm/iFIgTQAAAAASUVO RK5CYII= ") center no-repeat;
    background-size: 33px;
}

#progress {
    background: #7BBDEC;
    display: block;
    margin-top: 15px;
    height: 15px;
    width: 100%;
    z-index: 9999999;
    border-radius: 15px;
}

.progressbar-control {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('bg_progressbar.gif') repeat-x;
    border-radius: 15px;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

.progressbar-control .item-bar {
    top: 0px;
    height: 100%;
    padding: 0px;
    margin: -1px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.progressbar-control .item-bar.blue {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7BBDEC), to(#1A4D72));
    background: -webkit-linear-gradient(top, #7BBDEC, #1A4D72);
    background: -moz-linear-gradient(top, #7BBDEC, #1A4D72);
    background: -ms-linear-gradient(top, #7BBDEC, #1A4D72);
    background: -o-linear-gradient(top, #7BBDEC, #1A4D72);
    border: 1px solid #444444;
}

.progressbar-control .item-bar.green {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A8CA68), to(#82B530));
    background: -webkit-linear-gradient(top, #A8CA68, #82B530);
    background: -moz-linear-gradient(top, #A8CA68, #82B530);
    background: -ms-linear-gradient(top, #A8CA68, #82B530);
    background: -o-linear-gradient(top, #A8CA68, #82B530);
    border: 1px solid #000000;
}

.progressbar-control .item-bar.yellow {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFD12B), to(#F9CD2B));
    background: -webkit-linear-gradient(top, #FFD12B, #F9CD2B);
    background: -moz-linear-gradient(top, #FFD12B, #F9CD2B);
    background: -ms-linear-gradient(top, #FFD12B, #F9CD2B);
    background: -o-linear-gradient(top, #FFD12B, #F9CD2B);
    border: 1px solid #000000;
}

.progressbar-control .item-bar.orange {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF8000), to(#FF4000));
    background: -webkit-linear-gradient(top, #FF8000, #FF4000);
    background: -moz-linear-gradient(top, #FF8000, #FF4000);
    background: -ms-linear-gradient(top, #FF8000, #FF4000);
    background: -o-linear-gradient(top, #FF8000, #FF4000);
    border: 1px solid #000000;
}

.progressbar-control .item-bar.red {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F73D22), to(#D6351F));
    background: -webkit-linear-gradient(top, #F73D22, #D6351F);
    background: -moz-linear-gradient(top, #F73D22, #D6351F);
    background: -ms-linear-gradient(top, #F73D22, #D6351F);
    background: -o-linear-gradient(top, #F73D22, #D6351F);
    border: 1px solid #000000;
}

.progressbar-control .item-bar.white {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE));
    background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
    background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
    border: 1px solid #000000;
}

.progressbar-control .item-bar.black {
    background-color: black;
    border: 1px solid #000000;
}

.progressbar-control .item-line {
    top: -100%;
    width: 1px;
    height: 300%;
    padding: 0px;
    margin: 0px 0px 0px -1px;
}

.progressbar-control .item-line.blue {
    background-color: #2082C9;
}

.progressbar-control .item-line.green {
    background-color: #82B530;
}

.progressbar-control .item-line.yellow {
    background-color: #F9CD2B;
}

.progressbar-control .item-line.orange {
    background-color: #FF4000;
}

.progressbar-control .item-line.red {
    background-color: #D6351F;
}

.progressbar-control .item-line.white {
    background-color: #EEEEEE;
}

.progressbar-control .item-line.black {
    background-color: #000000;
}

.progressbar-control .item-text {
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


