<div class="topItemLaw">
    <div class="cellLeft">
        <label class="title"><%= title %></label>
    </div>
    <div class="cellRight">
        <span class='iconBookmark'></span>
    </div>
</div>
<div class="centerItemLaw">
    <label class="subtitle"><%= article %></label>
</div>
<div class="bottomItemLaw"><%= content %></div>