.bookmarkListLaws .itemLaw {
    display: block;
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e4e4e4;
}

.bookmarkListLaws .itemLaw .topItemLaw {
    height: 30px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.bookmarkListLaws .itemLaw .topItemLaw .cellLeft {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px 0 0;
}

.bookmarkListLaws .itemLaw .topItemLaw .cellLeft .title {
    font-family: Lato-Bold;
    font-size: 1em;
    color: #5f5c5c;
}

.bookmarkListLaws .itemLaw .topItemLaw .cellRight {
    display: table-cell;
    height: 30px;
    width: 30px;
}

.bookmarkListLaws .itemLaw .topItemLaw .cellRight .iconBookmark {
    display: block;
    width: 30px;
    height: 30px;
}

.bookmarkListLaws .itemLaw[data-bookmark="false"] .topItemLaw .cellRight .iconBookmark {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYODCMvqW2A7QAAAT1JREFUeNrt17GKw0AQ REGt6f9e5svlxLFwKLarwuMwh/p5xF0XAAAAAHC+9ZY/ZO99Nz34mVkCKBz+bSEsw3eHsIzf HcEyfncEH4/cfwG+/cVXwAVwAXz7m6+AC1BOAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAA AkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJA AAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAA/ M7NmZjU/gzSO/vSzvfctgJLhn36vJYQYvjuEGP3/zzoxhhi++yrE8N0hxOjdr4cYvvsqxPDd IcTo3a+HGL77KsTw3SHE6N2vhxi++yrE8EIAAAAAAE73BfUOcrT5xMaPAAAAAElFTkSuQmCC ') center no-repeat;
    background-size: 24px;
}

.bookmarkListLaws .itemLaw[data-bookmark="true"] .topItemLaw .cellRight .iconBookmark {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYODCQyhSp68wAAAThJREFUeNrt1zFqA1EQ RMEZ0fe/8leieFG4/K4KjRFm+2kWzwAAAAAA99u3/CFn5pQ9+BVA4fBvC2EN3x3CGr87gjV+ dwQfj9x/Ab79xVfABRCbb3/zFXAByglAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAAB IAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAA BIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAI4Gdndme2 +RmkcfSnn52ZI4CS4Z9+ryWEGL47hBj9/8+6MYYYvvsqxPDdIcTo3a+HGL77KsTw3SHE6N2v hxi++yrE8N0hxOjdr4cYvvsqxPBCAAAAAABu9wUHKS0SHRsJHwAAAABJRU5ErkJggg== ') center no-repeat;
    background-size: 24px;
}


.bookmarkListLaws .itemLaw .centerItemLaw {
    display: table;
    table-layout: fixed;
    height: 24px;
    width: 100%;
}

.bookmarkListLaws .itemLaw .centerItemLaw .subtitle {
    display: table-cell;
    vertical-align: middle;
    font-family: Lato-Bold;
    font-size: 0.8em;
    color: #5f5c5c;
}

.bookmarkListLaws .itemLaw .bottomItemLaw {
    overflow: hidden;
    height: 40px;
    font-family: Lato-Regular;
    font-size: 0.9em;
    color: #a0a0a0;
    line-height: 16px;
    padding: 5px 0;
    box-sizing: border-box;
}

.bookmarkListLaws .bookmarkLawEmpty {
    display: block;
    font-family: Lato-Bold;
    color: #6b6b6b;
    font-size: 1em;
    text-align: center;
    padding-top: 60px;
}
