.bookmarkListNews .listItemInfinite {
    position: absolute;
    width: 100%;
}

.bookmarkListNews .itemNew {
    padding: 10px 20px;
    box-sizing: border-box;
    height: 255px;
    font-family: Lato-Bold;
}

.bookmarkListNews .bookmarkNewEmpty {
    display: block;
    font-family: Lato-Bold;
    color: #6b6b6b;
    font-size: 1em;
    text-align: center;
    padding-top: 60px;
}

.iScrollVerticalScrollbar .iScrollIndicator {
    background-color: #B3B3B3 !important;
}