.listInfinite.itemNew .listItemInfinite {
    padding: 10px 20px;
    box-sizing: border-box;
    height: 255px;
    font-family: Lato-Bold;
}

.itemNew .newElement {
    position: relative;
    width: 100%;
    height: 100%;
}

.itemNew .newElement .topElement {
    width: 100%;
    height: 80px;
}

.itemNew .newElement .bottomElement {
    height: 155px;
    width: 100%;
}

.itemNew .newElement .topElement .titleElement {
    height: 40px;
    line-height: 40px;
    font-size: 1.4em;
    color: #8B2237;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemNew .newElement .topElement .subTitleElement {
    height: 40px;
    display: table;
    width: 100%;
    color: #787878;
    font-size: 1em;
}

.itemNew .newElement .topElement .subTitleElement .leftElement {
    display: table-cell;
    vertical-align: middle;
}

.itemNew .newElement .topElement .subTitleElement .rightElement {
    display: table-cell;
    vertical-align: middle;
}

.itemNew .newElement .bottomElement .contentElement {
    overflow: hidden;
    position: relative;
    height: 115px;
    line-height: 19px;
    color: #8a8a8a;
    font-size: 0.9em;
}

.itemNew .newElement .bottomElement .bottomActionsElement {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 35px;
    padding: 5px 0 0 0;
}

.itemNew .newElement .bottomElement .bottomActionsElement .leftElement {
    display: table-cell;
    width: 40px;
}

.itemNew .newElement .bottomElement .bottomActionsElement .centerElement {
    display: table-cell;
    vertical-align: middle;
}

.itemNew .newElement .bottomElement .bottomActionsElement .rightElement {
    display: table-cell;
    width: 40px;
}

.itemNew .newElement .bottomElement .bottomActionsElement .rightElement .iconBookmark {
    display: block;
    width: 35px;
    height: 35px;
}

.itemNew .newElement[data-bookmark="false"] .bottomElement .bottomActionsElement .rightElement .iconBookmark {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYODCMvqW2A7QAAAT1JREFUeNrt17GKw0AQ REGt6f9e5svlxLFwKLarwuMwh/p5xF0XAAAAAHC+9ZY/ZO99Nz34mVkCKBz+bSEsw3eHsIzf HcEyfncEH4/cfwG+/cVXwAVwAXz7m6+AC1BOAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAA AkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJA AAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAA/ M7NmZjU/gzSO/vSzvfctgJLhn36vJYQYvjuEGP3/zzoxhhi++yrE8N0hxOjdr4cYvvsqxPDd IcTo3a+HGL77KsTw3SHE6N2vhxi++yrE8EIAAAAAAE73BfUOcrT5xMaPAAAAAElFTkSuQmCC ') center no-repeat;
    background-size: 24px;
}

.itemNew .newElement[data-bookmark="true"] .bottomElement .bottomActionsElement .rightElement .iconBookmark {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYODCQyhSp68wAAAThJREFUeNrt1zFqA1EQ RMEZ0fe/8leieFG4/K4KjRFm+2kWzwAAAAAA99u3/CFn5pQ9+BVA4fBvC2EN3x3CGr87gjV+ dwQfj9x/Ab79xVfABRCbb3/zFXAByglAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAAB IAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAA BIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAI4Gdndme2 +RmkcfSnn52ZI4CS4Z9+ryWEGL47hBj9/8+6MYYYvvsqxPDdIcTo3a+HGL77KsTw3SHE6N2v hxi++yrE8N0hxOjdr4cYvvsqxPBCAAAAAABu9wUHKS0SHRsJHwAAAABJRU5ErkJggg== ') center no-repeat;
    background-size: 24px;
}

.itemNew .newElement .bottomElement .bottomActionsElement .leftElement span {
    display: block;
    width: 35px;
    height: 35px;
}

.itemNew .newElement .bottomElement .bottomActionsElement .centerElement label {
    font-size: 0.8em;
    color: #8a8a8a;
}