<div class='newElement' data-bookmark="<%= bookmark %>" data-id="<%= id %>">
    <div class='topElement viewElement'>
        <div class='titleElement'><%= title %></div>
        <div class='subTitleElement'>
            <div class='leftElement'><%= date %></div>
            <div class='rightElement'><%= domain %></div>
        </div>
    </div>
    <div class='bottomElement'>
        <div class='contentElement viewElement'><%= description %></div>
        <div class='bottomActionsElement'>
            <div class='leftElement'><span class='iconTag'></span></div>
            <div class='centerElement'><label><%= category %></label></div>
            <div class='rightElement'><span class='iconBookmark'></span></div>
        </div>
    </div>
</div>