.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

/************************************* MENU LEFT ****************************************/
.layout #leftMenu {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.layout #leftMenu .containerLeftMenu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 290px;
    background: white;
    border-right: 1px solid #929292;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu {
    width: 100%;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu > div:last-child {
    padding-bottom: 20px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu .optTitle {
    display: block;
    border-bottom: 1px solid #929292;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 0.85em;
    font-family: Lato-Regular;
    color: #626265;
    padding-left: 20px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu .itemMenu {
    display: table;
    width: 100%;
    height: 30px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu .itemMenu label {
    display: table-cell;
    vertical-align: middle;
    padding-top: 3px;
    font-family: Lato-Bold;
    font-size: 0.85em;
    color: #626265;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu .itemMenu span {
    display: table-cell;
    width: 24px;
    padding: 10px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu .type2 {
    height: 35px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu #optUserName {
    padding-top: 60px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu #optUserName label {
    font-style: italic;
    font-family: Lato-Regular;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu #optDownloads {
    padding-bottom: 10px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu #optHome {
    border-top: 1px solid #929292;
    padding-top: 20px;
}

.layout #leftMenu .containerLeftMenu .wrapperLeftMenu #optBasicLegislation {
    border-bottom: 1px solid #929292;
    padding-bottom: 20px;
}

/************************************* BACKGROUND ****************************************/

.layout .background {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.20);
    z-index: 2;
}

/************************************* CONTENT CENTER ****************************************/
.layout #contentCenter {
    position: absolute;
    top: 0;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    background: white;
}

