<div id="leftMenu" class="snap-drawer snap-drawer-left">
    <div class="containerLeftMenu">
        <div class="wrapperLeftMenu">
            <div id="optUserName" class="itemMenu">
                <span class="iconUser"></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_USER_NAME'] %></label>
            </div>

            <div id="optLogin" class="itemMenu">
                <span></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_LOGOUT'] %></label>
            </div>

            <div id="optBookmarks" class="itemMenu">
                <span></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_BOOKMARKS'] %></label>
            </div>

            <div id="optDownloads" class="itemMenu">
                <span></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_DOWNLOADS'] %></label>
            </div>

            <div id="optHome" class="itemMenu type2">
                <span class="iconHome"></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_HOME'] %></label>
            </div>

            <div id="optNews" class="itemMenu type2">
                <span class="iconNews"></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_NEWS'] %></label>
            </div>

            <div id="optBasicLegislation" class="itemMenu type2">
                <span class="iconLaws"></span>
                <label class="titleMenu"><%= strings['MENU_LEFT_BASIC_LEGISLATION'] %></label>
            </div>


            <label class="optTitle"><%= strings['MENU_LEFT_MAIN_LAWS'] %></label>


            <% _.each(items, function(item) { %>
            <div data-id="<%= item.id %>" class="itemMenu itemLawMenuLeft">
                <span></span>
                <label class="titleMenu"><%= item.title %></label>
            </div>
            <% }); %>

        </div>
    </div>
</div>

<div class="background" style="display: none;"></div>

<div id="contentCenter">

</div>