.layoutTabs {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/************************************* HEADER ****************************************/
.layoutTabs .headerTabs {
    height: 94px;
}

.layoutTabs .headerTabs .tabs {
    position: absolute;
    display: table;
    table-layout: fixed;
    top: 70px;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e4e4e4;
    border-top: 2px solid #cacaca;
}

.layoutTabs .headerTabs .tabs .cellTab {
    display: table-cell;
    font-size: 1em;
    font-family: Lato-Bold;
    text-align: center;
    transition-property: background-color .12s ease-in-out 0s;
    -moz-transition: background-color .12s ease-in-out 0s;
    -webkit-transition: background-color .12s ease-in-out 0s;
    -o-transition: background-color .12s ease-in-out 0s;
}

.layoutTabs .headerTabs .tabs .cellTab:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.layoutTabs .headerTabs .tabs .cellTab label {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #b5b5b5;
    font-size: 0.9em;
    font-family: Lato-Bold;
}

.layoutTabs .headerTabs .tabs .cellTab.selected label {
    color: #000000;
}

.layoutTabs .headerTabs .tabs .cellTab .mark {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #cacaca;
}

.layoutTabs .headerTabs .tabs .cellTab.selected .mark {
    background-color: #000000;
}

/************************************* CONTENT ****************************************/
.layoutTabs .contentTab {
    position: absolute;
    top: 114px;
    bottom: 0px;
    width: 100%;
}

/************************************* CUSTOM CLASS ****************************************/

.selectedNews.layoutTabs .headerTabs .tabs .cellTab.selected label {
    color: #8B2237;
}

.selectedNews.layoutTabs .headerTabs .tabs .cellTab.selected .mark {
    background-color: #8B2237;
}