<div class="headerC headerTabs">
    <span id="optMenuLeft" class="optLeftC iconOpenMenu"></span>

    <label class="titleC"><%= title %></label>

    <% if(optRight) { %>
    <span id="optSearch" class="optRightC iconSearch"></span>
    <% } %>

    <div class="tabs">
        <% _.each(tabs, function(tab, index) { %>
        <div data-id="<%= tab.id %>" class="cellTab<%= (_.isEqual(index, 0)) ? ' selected' : ''%>">
            <label class="titleTab"><%= tab.title %></label>
            <span class="mark"></span>
        </div>
        <% });%>
    </div>
</div>

<div class="contentTab">

</div>