<?xml version="1.0" encoding="UTF-8"?>
<content xmlns:nieuws="http://schema.sdu.nl/2008/05/scws/coll/nieuws/content" xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:misc="http://schema.sdu.nl/2008/05/scws/misc" xmlns="http://schema.sdu.nl/2008/05/scws/content"
         xmlns:wlink="http://schema.sdu.nl/2008/05/scws/coll/wenr/link" created="2016-06-15T09:21:14"
         last-modified="2016-06-15T09:21:14">
    <kop>Informele vereniging in de zin van art. 2:30 BW</kop>
    <nieuws:volledig-bericht xmlns="http://www.w3.org/1999/xhtml" soort="uitspraak">
        <p>In deze zaak rijst de vraag of onder bepaalde omstandigheden sprake kan zijn van een (rechtspersoonlijkheid
            bezittende) informele vereniging op basis van art. 2:3 BW. Het hof stelt dat in dit geval hiervan sprake is.
            <br/>
            <br/>
            <strong>Feiten</strong>
            <br/>
            Mazzelshop B.V is in januari 2010 door ondertekening van een samenwerkingsovereenkomst lid geworden van de
            DTV Groep, een groep van detaillisten uit de tuinmeubelbranche.
            <br/>
            Geïntimeerde X BV is ook lid van de DTV Groep. Tijdens een ledenvergadering van de DTZ Groep in januari 2010
            is gesproken over de oprichting van een coöperatie U.A. Deze coöperatieve vereniging ‘Coöperatieve
            Inkoopcombinatie DTV Groep U.A wordt opgericht in oktober 2010. Eerder, in september 2010, heeft Mazzelshop
            aan de aspirant-leden van de coöperatie bericht de samenwerking met de coöperatie in oprichting per direct
            te beëindigen en aan DTV Groep gevraagd om tot financiële eindafrekening over te gaan.
            <br/>
            <br/>
            <strong>Vordering</strong>
            <br/>
            In eerste aanleg stelt Mazzelshop dat DTV Groep bij leveranciers inkoopkortingen heeft verkregen, die als
            ‘omzetbonussen’ door leveranciers voor de DTV Groep zijn betaald, maar door X BV zijn ontvangen. Mazzelshop
            is van mening dat zij recht heeft op uitbetaling door X BV van een gedeelte van deze bonussen, namelijk naar
            rato van de door Mazzelshop bij de leveranciers ingekochte goederen.
            <br/>
            <br/>
            <strong>Beoordeling kantonrechter</strong>
            <br/>
            De kantonrechter verklaart Mazzelshop niet ontvankelijk in haar vordering. DTV Groep is een informele
            vereniging waarvan X BV slechts lid is. De rechtsverhouding tussen Mazzelshop en X BV, waarop Mazzelshop
            haar vordering baseert, bestaat daarom niet. De kantonrechter overweegt ten overvloede dat Mazzelshop haar
            stelling, dat tussen partijen de afspraak zou bestaan dat ieder voordeel ten goede zou komen aan de
            individuele leden onder aftrek van gemaakte kosten, onvoldoende heeft onderbouwd.
            <br/>
            <br/>
            <strong>Oordeel hof: informele vereniging met rechtspersoonlijkheid</strong>
            <br/>
            Volgens het hof is voor de beoordeling van de vordering van belang of DTV Groep kan worden aangemerkt als
            een vereniging in de zin van<misc:link coll="wenr" key="77369" anchor="node-2868264"
                                                   xlink:href="../../../wenr/77369/content#node-2868264"
                                                   misc:jcid="1.0:v:BWBR0003045&amp;artikel=26"
                                                   wlink:node-href="../../../wenr/77369/nodes/2868264">art. 2:26 lid 1
                BW</misc:link>. Daarbij neemt het hof tot uitgangspunt dat het voor het bestaan van een vereniging met
            beperkte rechtsbevoegdheid niet noodzakelijk is dat er een duidelijk aanwijsbare rechtshandeling is waarbij
            zij is opgericht. Een informele vereniging kan ontstaan doordat een samenwerkingsverband van personen als
            eenheid gaat deelnemen aan het rechtsverkeer. Een informele vereniging is wel een rechtspersoon, maar kent
            op grond van
            <misc:link coll="wenr" key="77369" anchor="node-2868304"
                       xlink:href="../../../wenr/77369/content#node-2868304"
                       misc:jcid="1.0:v:BWBR0003045&amp;artikel=30" wlink:node-href="../../../wenr/77369/nodes/2868304">
                art. 2:30 BW
            </misc:link>
            geen volledige rechtsbevoegdheid. Of daarvan sprake is hangt af van de omstandigheden van het geval.
            <br/>
            <br/>
            Uit door Mazzelshop overgelegde producties blijkt niet dat leveranciers betalingen hebben gedaan aan X BV in
            plaats van DTV Groep.Wel is gebleken dat DTV Groep als economische eenheid naar buiten toe optrad. Facturen
            zijn gesteld op naam van DTV Groep. Daarnaast heeft een leverancier per e-mail bericht dat zij een
            vergoeding heeft betaald aan DTV Groep en dat Mazzelshop zich voor uitbetaling van enig gedeelte daarvan
            moet wenden tot DTV Groep. X BV heeft een overzicht overgelegd van afspraken die zijn gemaakt tussen die
            leverancier en DTV Groep. Volgens die afspraken zouden individuele leden van de DTV Groep diverse kortingen
            ontvangen op hun bestellingen bij leveranciers. Daarnaast zou DTV Groep aan het einde van het seizoen een
            bijdrage van de gerealiseerde omzet in een bepaalde periode ontvangen. Mazzelshop heeft het bestaan van deze
            afspraken niet bestreden.
            <br/>
            <br/>
            <strong>Conclusie</strong>
            <br/>
            Op basis van het voorgaande oordeelt het hof dat DTV Groep als samenwerkingsverband heeft deelgenomen aan
            het rechtsverkeer en moet worden beschouwd als een informele vereniging in de zin van de wet en dus
            ingevolge
            <misc:link coll="wenr" key="77369" anchor="node-2867924"
                       xlink:href="../../../wenr/77369/content#node-2867924" misc:jcid="1.0:v:BWBR0003045&amp;artikel=3"
                       wlink:node-href="../../../wenr/77369/nodes/2867924">art. 2:3 BW
            </misc:link>
            rechtspersoonlijkheid bezit. Dat betekent dat Mazzelshop, nu haar vordering is gegrond op nakoming van
            verplichtingen van DTV Groep, X BV daarvoor niet in rechte kan betrekken. Het hof bekrachtigt het vonnis van
            de rechtbank en veroordeelt Mazzelshop in de kosten van het hoger beroep.
            <br/>
            <br/>
            <strong>Gerechtshof Arnhem-Leeuwarden 24 april 2016</strong>
            <misc:link coll="jur" key="ECLI_NL_GHARL_2016_3406" xlink:href="../../../jur/ECLI_NL_GHARL_2016_3406/"
                       misc:jcid="ECLI:NL:GHARL:2016:3406">ECLI:NL:GHARL:2016:3406
            </misc:link>
            (gepubliceerd 1 juni 2016)
        </p>
    </nieuws:volledig-bericht>
</content>