<div class="headerC headerMainLaw">
    <span id="optMenuLeft" class="optLeftC iconOpenMenu"></span>

    <label class="titleC"><%= law.title %></label>
</div>

<div class="contentC contentMainLaw">

    <div class="contentSearchLaw">
        <div class="infoSearch">
            <label class="cellInfo">Find your information:</label>
        </div>
        <div class="searchBox">
            <div class="tabs">
                <div id="tabArticle" class="cellTab selected">
                    <label class="titleArticle">By article</label>
                    <span class="mark"></span>
                </div>
                <div id="tabKeyword" class="cellTab">
                    <label class="titleKeyword">By keyword</label>
                    <span class="mark"></span>
                </div>
            </div>
            <div class="inputTabs">
                <div class="wrapperArticle cellInput selected">
                    <input id="article" type="text" placeholder=""/>
                    <span class="iconLeft iconSearch"></span>
                </div>
                <div class="wrapperKeyword cellInput">
                    <input id="keyword" type="text" placeholder=""/>
                    <span class="iconLeft iconSearch"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="contentTOC">
        <div class="infoTOC">
            <label class="cellInfo">Browse the whole code</label>
        </div>
        <div id="scrollTOC">
            <ul class="listTOC">

                <%
                _.each(toc, function(item){
                %>
                    <li class="tocItem" data-id="<%= item.id %>">
                        <div class="cell cellInfo">
                            <label class="title"><%= item.title %></label>
                        </div>
                        <div class="cell cellOne">
                            <span class="iconArrowRightGrey"></span>
                        </div>
                    </li>
                <%
                });
                %>
            </ul>
        </div>
    </div>

</div>
<div class="contentTabBar">
    <div class="titleTabBar">
        <label class="title">Time is short? Kepp it for later!</label>
    </div>
    <div class="subtitleTabBar">
        <label class="subtitle">download the whole law</label>
        <span class="iconDownload"></span>
    </div>
</div>

