.mainLaw .contentMainLaw {
    bottom: 90px;
}

.mainLaw .contentTabBar {
    position: absolute;
    height: 90px;
    bottom: 0px;
    width: 100%;
    display: table;
    border-top: 1px solid #e4e4e4;
}

.mainLaw .contentMainLaw .contentSearchLaw {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 132px;
    margin: 0 20px 0 20px;
}

.mainLaw .contentMainLaw .contentTOC {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    bottom: 0;
}

.mainLaw .contentMainLaw .contentTOC .infoTOC {
    position: absolute;
    display: table;
    width: 100%;
    top: 0;
    left: 0;
    height: 30px;
}

.mainLaw .contentMainLaw .contentTOC #scrollTOC {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
}

/** SEARCHBOX **/

.mainLaw .contentMainLaw .contentSearchLaw .infoSearch {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    display: table;
    width: 100%;
}

.mainLaw .contentMainLaw .contentSearchLaw .infoSearch .cellInfo {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-family: Lato-Regular;
    font-size: 0.95em;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #cacaca;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .tabs {
    position: absolute;
    top: 0;
    display: table;
    table-layout: fixed;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e4e4e4;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .inputTabs {
    position: absolute;
    display: table;
    width: 100%;
    height: 54px;
    top: 34px;
    left: 0;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .tabs .cellTab {
    display: table-cell;
    font-size: 1em;
    font-family: Lato-Bold;
    text-align: center;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .tabs .cellTab label {
    display: block;
    height: 32px;
    line-height: 32px;
    color: #000000;
    font-size: 0.9em;
    font-family: Lato-Bold;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .tabs .cellTab.selected .mark {
    background-color: #000000;
    height: 2px;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .tabs .cellTab .mark {
    display: block;
    width: 100%;
    height: 0px;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .inputTabs .cellInput {
    display: table-cell;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .inputTabs .cellInput input {
    display: block;
    width: 100%;
    height: 54px;
    border: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    font-family: Lato-Regular;
    font-size: 0.9em;
    padding: 0 0 0 50px;
    color: #797979 !important;
    -webkit-text-fill-color: #797979 !important;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .inputTabs .cellInput.selected .iconLeft {
    display: block;
}

.mainLaw .contentMainLaw .contentSearchLaw .searchBox .inputTabs .cellInput .iconLeft {
    float: left;
    display: none;
    height: 45px;
    width: 45px;
    margin-left: 3%;
    margin-top: -52px;
}

/** TOC **/

.mainLaw .contentMainLaw .contentTOC .infoTOC .cellInfo {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 20px;
    font-family: Lato-Regular;
    font-size: 0.95em;
}

.contentC #scrollTOC .listTOC .tocItem {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #e4e4e4;
}

.contentC #scrollTOC .listTOC .tocItem .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.contentC #scrollTOC .listTOC .tocItem .cellInfo {
    padding: 20px 20px 20px 80px;
    text-align: left;
}

.contentC #scrollTOC .listTOC .tocItem .cellInfo .title {
    display: block;
    font-family: Lato-Bold;
    color: #292929;
    font-size: 0.95em;
}

.contentC #scrollTOC .listTOC .tocItem .cellOne {
    width: 60px;
}

.contentC #scrollTOC .listTOC .tocItem .cell span {
    display: block;
    width: 40px;
    height: 35px;
    margin: auto;
}

/** TABBAR **/

.mainLaw .contentTabBar .titleTabBar {
    display: table-row;
    height: 45px;
    width: 100%;
}

.mainLaw .contentTabBar .titleTabBar .title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Lato-Regular;
    font-size: 0.95em;
    color: #888888;
}

.mainLaw .contentTabBar .subtitleTabBar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mainLaw .contentTabBar .subtitleTabBar .subtitle {
    display: inline-block;
    text-decoration: underline;
    font-family: Lato-Regular;
    font-size: 0.95em;
    font-weight: bold;
    color: #777777;
    padding: 0 10px;
}

.mainLaw .contentTabBar .subtitleTabBar .iconDownload {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 15px;
    background-size: cover;
}