.tocLaw {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.tocLaw .headerTocLaw {
    background: #dcdcdc;
}

.tocLaw .headerTocLaw .firstTitle {
    line-height: 30px;
    height: 30px;
}

.tocLaw .headerTocLaw .subtitle {
    top: 45px;
    line-height: 23px;
    height: 25px;
    font-size: 0.8em;
    font-family: Lato-Regular;
}

.tocLaw .contentTocLaw #scrollTOC {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tocLaw .contentTocLaw #scrollTOC .tocItem .cellInfo .subtitle {
    display: block;
    font-family: Lato-Regular;
    font-size: 0.9em;
    padding: 10px 0;
}