<div class="headerC headerTocLaw">
    <span id="optBack" class="optLeftC iconBackBlack"></span>

    <label class="titleC firstTitle"><%= model.title %></label>
    <label class="titleC subtitle"><%= subTitle %></label>

</div>

<div class="contentTocLaw contentC">
    <div id="scrollTOC" class="contentLaws contentLawsBack">
        <ul class="listTOC">

            <%
            _.each(items, function(item){
            %>
            <li class="tocItem" data-id="<%= item.id %>">
                <div class="cell cellInfo">
                    <label class="title"><%= item.title %></label>
                    <label class="subtitle"><%= item.subtitle %></label>
                </div>
                <!--<div class="cell cellOne">
                    <span class="iconArrowRightGrey"></span>
                </div>-->
            </li>
            <%
            });
            %>



        </ul>
    </div>
</div>