body {
    margin: 0;
}

.viewerLaw {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

/********************** HEADER ****************************/

.viewerLaw .headerViewerLaw {
    background: #dcdcdc;
}

.viewerLaw .headerViewerLaw .firstTitle {
    line-height: 30px;
    height: 30px;
}

.viewerLaw .headerViewerLaw .subtitle {
    top: 45px;
    line-height: 23px;
    height: 25px;
    font-size: 0.8em;
    font-family: Lato-Regular;
}

/********************** CONTENT ****************************/
.viewerLaw .contentC {
    bottom: 90px;
}

.viewerLaw .contentViewerLaw .scrollLaw {
    padding: 20px;
}

.viewerLaw .contentViewerLaw .scrollLaw .titleNews {
    display: block;
    color: #545454;
    font-family: Lato-Bold;
    font-size: 1.6em;
    line-height: 1.2em;
    padding-top: 25px;
    overflow-x: auto;
    overflow-y: hidden;
}

/********************** TABBAR ****************************/
.viewerLaw .contentTabBar {
    position: absolute;
    height: 90px;
    bottom: 0px;
    width: 100%;
    display: table;
    border-top: 1px solid #e4e4e4;
    background-color: white;
    box-sizing: border-box;
}

.viewerLaw .contentTabBar .titleTabBar {
    display: table-row;
    height: 45px;
    width: 100%;
}

.viewerLaw .contentTabBar .titleTabBar .title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Lato-Regular;
    font-size: 0.95em;
    color: #888888;
}

.viewerLaw .contentTabBar .subtitleTabBar {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.viewerLaw .contentTabBar .subtitleTabBar .subtitle {
    display: inline-block;
    text-decoration: underline;
    font-family: Lato-Regular;
    font-size: 0.95em;
    font-weight: bold;
    color: #777777;
    padding: 0 10px;
}

.viewerLaw .contentTabBar .subtitleTabBar .iconDownload {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 15px;
    background-size: cover;
}