<div class="headerC headerViewerLaw">
    <span id="optBack" class="optLeftC iconBackBlack"></span>

    <label class="titleC firstTitle"><%= infoLaw.title %></label>
    <label class="titleC subtitle"><%= strings["LAW_ARTICLES"] %></label>
</div>

<div class="contentViewerLaw contentC">
    <div class="scrollLaw">
        <div class="contentNews">
            <%= law.content %>
        </div>
    </div>
</div>

<div class="contentTabBar">
    <div class="titleTabBar">
        <label class="title"><%= strings["LAW_DOWNLOAD_1"] %></label>
    </div>
    <div class="subtitleTabBar">
        <label class="subtitle"><%= strings["LAW_DOWNLOAD_2"] %></label>
        <span class="iconDownload"></span>
    </div>
</div>