<div class="l_table">

    <div id="groupBack" class="l_row">
        <div class="l_cell">
            <span class="iconBackBlack"></span>
        </div>
    </div>

    <div id="groupTitle" class="l_row">
        <div class="l_cell">
            <label class="l_title"><%= strings['FORGOT_PASSWORD_TITLE'] %></label>
            <label class="l_description"><%= strings['FORGOT_PASSWORD_DESCRIPTION'] %></label>
        </div>
    </div>

    <div id="groupInputs" class="l_row">
        <div class="l_cell">
            <div class="l_wrapperUsername">
                <input id="username" type="text" placeholder="<%= strings['FORGOT_PASSWORD_USERNAME'] %>"/>
                <span class="iconLeft iconEmail"></span>
            </div>

            <div class="l_wrapperButton">
                <form id="groupButtons">
                    <button id="btnForm"><%= strings['FORGOT_PASSWORD_BUTTON'] %></button>
                </form>
            </div>
        </div>
    </div>
</div>



