.login {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

.login .l_table {
    display: table;
    width: 100%;
    height: 100%;
}

.login .l_table .l_row {
    display: table-row;
}

.login .l_table .l_row .l_cell {
    display: table-cell;
    vertical-align: middle;
}

.login .l_table .l_row .l_cell .l_title,
.login .l_table .l_row .l_cell .l_description {
    display: block;
    max-width: 400px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
}

/********************************************* back *********************************************/
.login .l_table .l_row#groupBack {
    height: 70px;
    padding-top: 20px;
}

.login .l_table .l_row#groupBack .l_cell {
    vertical-align: bottom;
}

.login .l_table .l_row#groupBack .l_cell .iconBackBlack {
    display: block;
    height: 50px;
    width: 50px;
}

/********************************************* title *********************************************/
.login .l_table .l_row#groupTitle {
    height: 20%;
}

.login .l_table .l_row#groupTitle .l_cell {
    vertical-align: bottom;
}

.login .l_table .l_row .l_cell .l_title {
    font-family: Lato-Bold;
    font-size: 1.4em;
}

.login .l_table .l_row .l_cell .l_description {
    font-family: Lato-Regular;
    font-size: 1em;
    color: #797979;
}

/*********************************************** Imputs ***********************************************/
.login .l_table .l_row#groupInputs .l_cell {
    vertical-align: top;
}

.login .l_table .l_row#groupInputs .l_cell .l_wrapperUsername,
.login .l_table .l_row#groupInputs .l_cell .l_wrapperPassword {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 20px auto;
}

.login .l_table .l_row#groupInputs .l_cell input {
    display: block;
    width: 94%;
    height: 45px;
    margin: 0 3%;
    border: 1px solid #949494;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    font-family: Lato-Regular;
    font-size: 0.9em;
    padding: 0 50px;
    color: #797979 !important;
    -webkit-text-fill-color: #797979 !important;
}

.login .l_table .l_row#groupInputs .l_cell .iconLeft {
    float: left;
    display: block;
    height: 45px;
    width: 45px;
    margin-left: 3%;
    margin-top: -45px;
}

.login .l_table .l_row#groupInputs .l_cell .iconRight {
    float: right;
    display: block;
    height: 45px;
    width: 45px;
    margin-right: 3%;
    margin-top: -45px;
}

.login .l_table .l_row#groupInputs .l_cell input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.login .l_table .l_row#groupInputs .l_cell .l_wrapperPassword .l_forgot {
    display: block;
    width: 94%;
    height: 50px;
    line-height: 50px;
    margin: 0 3%;
    text-align: right;
    font-family: Lato-Regular;
    color: #8C8C6D;
}

.login .l_table .l_row .l_cell .l_wrapperButton {
    display: block;
    max-width: 400px;
    margin: 20px auto;
}

.login .l_table .l_row .l_cell .l_wrapperButton #btnLogin {
    display: block;
    width: 94%;
    height: 50px;
    margin: 0 3%;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    background-color: #828282;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-family: Lato-Regular;
    font-size: 1.1em;
}