<div class="l_table">
    <div id="groupBack" class="l_row">
        <div class="l_cell">
            <span class="iconBackBlack"></span>
        </div>
    </div>

    <div id="groupTitle" class="l_row">
        <div class="l_cell">
            <label class="l_title"><%= strings['LOGIN_TITLE'] %></label>
            <label class="l_description"><%= strings['LOGIN_DESCRIPTION'] %></label>
        </div>
    </div>

    <div id="groupInputs" class="l_row">
        <div class="l_cell">

            <div class="l_wrapperUsername">
                <input id="username" type="text" placeholder="<%= strings['LOGIN_USERNAME'] %>"/>
                <span class="iconLeft iconEmail"></span>
            </div>

            <div class="l_wrapperPassword">
                <input id="password" type="password" placeholder="<%= strings['LOGIN_PASSWORD'] %>"/>
                <span class="iconLeft iconLock"></span>
                <span class="iconRight iconShowPassword showHidePassword"></span>
                <label class="l_forgot"><%= strings['LOGIN_FORGOT_PASSWORD'] %></label>
            </div>

            <div class="l_wrapperButton">
                <form id="groupButtons">
                    <button id="btnLogin"><%= strings['LOGIN_BUTTON'] %></button>
                </form>
            </div>
        </div>
    </div>

</div>



