.viewerNews {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}

.viewerNews .headerViewerNews {
    background: #dcdcdc;
}

.viewerNews .headerViewerNews .firstTitle {
    line-height: 30px;
    height: 30px;
}

.viewerNews .headerViewerNews .subtitle {
    top: 45px;
    line-height: 23px;
    height: 25px;
    font-size: 0.8em;
    font-family: Lato-Regular;
}

.viewerNews[data-bookmark="true"] .headerViewerNews .iconBookmarkGeneric {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABmJLR0QA/wD/AP+gvaeTAAAA CXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYODCQyhSp68wAAAThJREFUeNrt1zFqA1EQ RMEZ0fe/8leieFG4/K4KjRFm+2kWzwAAAAAA99u3/CFn5pQ9+BVA4fBvC2EN3x3CGr87gjV+ dwQfj9x/Ab79xVfABRCbb3/zFXAByglAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAAB IAAEgAAQAAJAAAgAASAABIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAA BIAAEAACQAAIAAEgAASAABAAAkAACAABIAAEgAAQAAJAAAgAASAABIAAEAACQAAI4Gdndme2 +RmkcfSnn52ZI4CS4Z9+ryWEGL47hBj9/8+6MYYYvvsqxPDdIcTo3a+HGL77KsTw3SHE6N2v hxi++yrE8N0hxOjdr4cYvvsqxPBCAAAAAABu9wUHKS0SHRsJHwAAAABJRU5ErkJggg== ') center no-repeat;
    background-size: 24px;
}

.viewerNews .contentViewerNews .scrollNews {
    padding: 20px;
}

.viewerNews .contentViewerNews .scrollNews .titleNews {
    display: block;
    color: #545454;
    font-family: Lato-Bold;
    font-size: 1.6em;
    line-height: 1.2em;
    padding-top: 25px;
    overflow-x: auto;
    overflow-y: hidden;
}


.viewerNews .contentViewerNews .scrollNews .infoNews {
    display: table;
    table-layout: fixed;
}

.viewerNews .contentViewerNews .scrollNews .infoNews .dateNews {
    display: table-cell;
    color: #9b9b9b;
    font-family: Lato-Regular;
    font-size: 0.75em;
    padding: 10px 0;
    vertical-align: middle;
    text-align: left;
    width: 100px;
}

.viewerNews .contentViewerNews .scrollNews .infoNews .domainNews {
    display: table-cell;
    color: #9b9b9b;
    font-family: Lato-Regular;
    font-size: 0.95em;
    padding: 10px 0;
    vertical-align: middle;
    text-align: left;
}

.viewerNews .contentViewerNews .scrollNews .descriptionNews {
    display: block;
    color: #545454;
    font-family: Lato-Bold;
    font-size: 0.9em;
    margin: 10px 0 35px 0;
    padding: 0 0 0 20px;
    border-left: 5px solid #545454;
}

.viewerNews .contentViewerNews .scrollNews .contentNews {
    display: block;
    color: #4a4a4a;
    font-family: Lato-Regular;
    font-size: 0.85em;;
}