<div class="headerC headerViewerNews">
    <span id="optBack" class="optLeftC iconBackBlack"></span>

    <label class="titleC firstTitle"><%= strings["NEWS_TITLE"] %></label>
    <label class="titleC subtitle">From <%= news.category %></label>

    <span id="optBookmark" class="optRightC iconBookmarkGeneric"></span>
</div>

<div class="contentViewerNews contentC">
    <div class="scrollNews">

        <label class="titleNews"><%= news.title %></label>

        <div class="infoNews">
            <label class="dateNews"><%= news.date %></label>
            <label class="domainNews"><%= news.domain %></label>
        </div>

        <label class="descriptionNews"><%= news.description %></label>

        <div class="contentNews">
            <%= news.content %>
        </div>
    </div>
</div>